.layout-resume {
  h1 {
    margin-bottom: 0;
  }

  .h4 {
    margin-top: 0;
    font-family: unset!important;
  }

  .subline {
    margin-top: 0;
    margin-bottom: 0;
  }

  .bold {
    font-weight: bold;
    line-height: 1.55;
  }

  header > p {
    margin-bottom: 0;
  }
  // }

  .tags {
    list-style: none;
    padding-left: 0;
    margin: 0 -.625rem 1.5rem;
    clear: right;
  }

  .tag {
    border: 1px solid #ddd;
    display: inline-block;
    margin: .25rem .125rem;
    padding: .125rem .5rem;
    color: $gray-text;
    line-height: 1.4;
  }

  .help {
    cursor: help;
  }

  .symbol {
    float: right;
    color: #ddd;
    margin-top: 4px;
    margin-left: .5rem;
  }

  .skills {
    dt {
      margin-bottom: 0;
    }

    dd {
      margin: 0;
    }
  }

  .contact {
    margin-top: 2.5rem;

    dt, dd {
      margin-bottom: .5rem;
    }

    dt {
      clear: both;
      float: left;
      width: 2rem;
      // text-align: center;

      [class*="icon-"] {
        font-size: 1.17rem;
        position: relative;
        top: 2px;
      }
    }

    dd {
      float: left;
      margin-left: 0;
      width: calc(100% - 2rem);
      padding-left: .25rem;
    }
  }

  $pad: 2.5rem;

  .grid {
    margin-left: -$pad;

    &::after {
      @include clearfix();
    }
  }

  .col {
    float: left;
    padding-left: $pad;
    width: 100%;
  }

  @media screen and (min-width: 64em) {
    .col-3-5 { width: 60% }
    .col-2-5 { width: 40% }
  }

  // cite
  .ref {
    margin-bottom: 1.5rem;

    > footer {
      margin-bottom: 0;
    }
  }
}
