$pad: 1rem;

.grid {
  background: white;
  margin-left: -$pad;
  display: flex;

  &::after {
    @extend .clearfix
  }
}

[class*='col-'] {
  float: left;
  padding-left: $pad;
  margin-bottom: $pad;
  width: 100%;
  display: flex;
  flex: 0 0 100%;
}

@media screen and (min-width: $break-point-font-1) {
  .col-1-2 {
    width: 50%;
    flex: 0 0 50%;
  }
}

@media print {
  .grid, [class*='col-'] {
    display: block;
  }

  .col-1-2 {
    width: 50%;
  }
}

.card {
  width: 100%;
  background: #FFF;
  border: 1px solid #eee;
  text-align: center;
  padding-bottom: 0.75rem;
  contain: content;

  page-break-inside: avoid;

  > a > .img {
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    position: relative;
    top: -1px;
  }

  > .name, > .caption {
    padding: 0 1rem;
  }

  > .name {
    display: block;
    text-align: center;
    font-size: 1rem;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    color: inherit;
  }

  > .caption {
    margin: 0.25rem 0;

    font-size: smaller;
    color: #787878;

    > p {
      margin-bottom: 0;
    }
  }
}
