.faded {
  color: #9a9a9a;
}

main {
  h1 {
    line-height: 1;
  }

  h1 + p {
    font-size: 1.17rem;
  }

  h3 a {
    padding-bottom: 0;
  }

  h3, h4 {
    margin-top: 0;
  }

  h3 {
    font-size: 1rem;
  }

  header > p {
    margin-bottom: 0;
  }
}

// cite
blockquote > footer {
  margin-bottom: 0;
}

.tags {
  list-style: none;
  padding-left: 0;
  margin: 0 -0.625rem;
}

.tag {
  border: 1px solid #ddd;
  display: inline-block;
  margin: 0.25rem 0.125rem;
  padding: 0.125rem 0.5rem;
  color: #787878;
  line-height: 1.4;
  /*font-size: smaller;*/
}

.hint {
  cursor: help;
  float: right;
}

$pad: 2.5rem;

.grid {
  background: white;
  margin-left: -$pad;

  &::after {
    @extend .clearfix
  }
}

[class*='col-'] {
  float: left;
  padding-left: $pad;
  width: 100%;
}

@media screen and (min-width: 1024px - $scrollbar-width) {
  .col-2-3 {
    width: 61.8%
  }
  .col-1-3 {
    width: 38.2%
  }
}

@media screen and (min-width: $break-point-font-2) {
  [class*='col-'] {
    width: 100%;
  }
}

@media screen and (min-width: 1280px - $scrollbar-width) {
  .col-2-3 {
    width: 61.8%
  }
  .col-1-3 {
    width: 38.2%
  }
}

.symbol {
  float: right;
  color: #ddd;
}

dt, dd {
  margin-bottom: .5rem;
}

dt {
  clear: both;
  float: left;
  width: 2rem;
  text-align: center;

  [class*="icon-"] {
    font-size: 1.17rem;
    position: relative;
    top: 2px;
  }
}

dd {
  float: left;
  margin-left: 0;
  width: calc(100% - 2rem);
  padding-left: 0.5rem;
}
