---
layout: base
---

{% assign project = page %}

<article class="page" role="article" vocab="http://schema.org/" typeof="CreativeWork">
  <meta property="url" content="{{ page.url | absolute_url }}"/>
  <meta property="mainEntityOfPage" content="{{ page.url | absolute_url }}"/>

  <header>
    <h1 class="page-title" property="name">{{ project.title }}</h1>

    <p class="post-date heading">
      {% assign parent = site.pages | where:"show_collection",project.collection | first %}
      {% if parent %}
        <a href="{{ '/projects/' | relative_url }}" class="flip-title" property="genre">{{ parent.title }}</a>
        |
      {% endif %}
      <time datetime="{{ project.date | date_to_xmlschema }}" property="datePublished">{{ project.date | date: "%Y" }}</time>
      <span class="fr">
        <span class="sr-only">| Links:</span>
        {% for link in project.links %}
          <a href="{{ link.url }}" property="sameAs">{{ link.title }}</a>
          {% unless forloop.last %}|{% endunless %}
        {% endfor %}
      </span>
    </p>

    {% assign screenshot = project.screenshot %}
    <div class="img lead sixteen-nine">
      {% if screenshot %}
        {% include srcset-img.html
          img=screenshot
          alt=project.title
          sizes="(min-width: 92em) 48rem, (min-width: 54em) 42rem, (min-width: 40em) 37.5rem, 100vw"
          property="image"
        %}
      {% endif %}
    </div>

    {% include message.html text=project.description property="description "%}
    {% if project.caption %}<meta property="disambiguatingDescription" content="{{ project.caption }}"/>{% endif %}
  </header>

  {{ content }}

  {% unless include.link_title %}
    <hr class="dingbat" />
  {% endunless %}

  {% include about.html %}

  {% assign p1 = page.previous | default:page.next.next %}
  {% assign p2 = page.next | default:page.previous.previous %}
  {% if p1 or p2 %}
  <aside class="other-projects" role="complementary">
    <h2>Other Projects</h2>
    <div class="grid">
      {% assign p1 = page.previous | default:page.next.next %}
      {% if p1 %}
        <div class="col col-1-2">
          {% include pro/project-card.html project=p1 %}
        </div>
      {% endif %}

      {% assign p2 = page.next | default:page.previous.previous %}
      {% if p2 %}
        <div class="col col-1-2">
          {% include pro/project-card.html project=p2 %}
        </div>
      {% endif %}
    </div>
  </aside>
  {% endif %}
</article>
