---
layout: base
---

{% assign project = page %}

<article class="page dingbat" role="article">
  <header>
    <h1 class="page-title">{{ project.title }}</h1>

    <p class="post-date heading">
      <a href="{{ '/projects/' | relative_url }}" data-flip="title">Projects</a>
      |
      <time datetime="{{ project.date | date_to_xmlschema }}">{{ project.date | date: "%Y" }}</time>
      <span style="float:right">
        {% if project.link %}<a href="{{ project.link }}">Live</a>{% endif %}
        {% if project.link and project.source %}|{% endif %}
        {% if project.source %}<a href="{{ project.source }}">Source</a>{% endif %}
      </span>
    </p>
  </header>

  <div class="img lead sixteen-nine">
    {% if project.screenshot %}
      {%
        include srcset-img.html
        img=project.screenshot
        alt="Screenshot"
        sizes="(min-width: 92em) 48rem, (min-width: 54em) 42rem, (min-width: 40em) 37.5rem, 100vw"
      %}
    {% endif %}
  </div>

  {% include message.html text=project.description %}
  <hr/>

  {{ content }}

</article>

{% include about.html %}
