---
layout: page
---

{% assign show_collection = page.show_collection | default:"projects" %}
{% assign ordered_projects = site[show_collection] | sort:"date" | reverse %}

{% assign projects_group_by = site.data.strings.date_formats.projects_group_by | default:"%Y" %}

{% for project in ordered_projects %}
  {% assign currentdate = project.date | date:projects_group_by %}

  {% if currentdate != date %}
    {% unless forloop.first %}</div>{% endunless %}

    <h2 id="{{ projects_group_by | slugify }}-{{ currentdate | slugify }}">{{ currentdate }}</h2>
    <div class="grid">
    {% assign date = currentdate %}
  {% endif %}

  {% assign big_project = page.big_project | default:project.big_project %}
  <div class="col {% if big_project %}col-1{% else %}col-1-2{% endif %}">
    {% if big_project %}
      {% assign sizes = "(min-width: 92em) 46rem, (min-width: 60em) 40rem, (min-width: 54em) 32rem, (min-width: 40em) 35.5rem, 100vw" %}
    {% else %}
      {% assign sizes = null %}
    {% endif %}

    {% include pro/project-card.html project=project sizes=sizes %}
  </div>

  {% if forloop.last %}</div>{% endif %}
{% endfor %}
